{
  "extends": ["airbnb-base", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "rules": {
    "comma-dangle": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": "off"
  }
}
